{% extends 'layout.html' %}

{% block content %}
<div>
    <a href="/add/rsa/" class="btn btn-primary">添加</a>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>状态</th>
                <th>私钥</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {% for rsa in all_rsa %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ rsa.get_status_display }}</td>
                <td>{{ rsa.private_key }}</td>
                <td>
                    <a href="{% url 'edit_rsa' rsa.id %}" type="button">编辑</a>
                    <a href="#" type="button" onclick="removeRow(this,'{% url 'del_rsa' rsa.id %}')">删除</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}

{% block js %}
    <script>
         function removeRow(ths,url){
             var result = confirm('是否确定要删除？');
             if(result){
                  $.ajax({
                      url:url,
                      type:'GET',
                      dataType:'JSON',
                      success(arg){
                          if(arg.status){
                              $(ths).parent().parent().remove();
                          }
                      }
              })
             }
         }
    </script>
{% endblock %}